src/**
scripts/**
tests/**
node_modules/**
!node_modules/hson-schema-typescript-plugin/**
typescript-plugin/**
.gitignore
.test-dist/**
.vscode-test/**
.hson-vsix-*/**
hson-language.authority.json
package-lock.json
tsconfig.json
*.vsix
